@using Microsoft.Extensions.Options
@using Tharga.Blazor
@using Tharga.Blazor.Framework.Buttons
@using Tharga.MongoDB
@using Tharga.MongoDB.Configuration
@using Tharga.Toolkit
@inject IDatabaseMonitor DatabaseMonitor;
@inject DialogService DialogService
@inject IOptions<DatabaseOptions> DatabaseOptions

@if (!DatabaseOptions.Value.Monitor.Enabled)
{
    <RadzenText>Database monitor is disabled.</RadzenText>
}
else if (_model == null)
{
    <Loading />
}
else
{
    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenRow>
            <RadzenColumn>
                <RadzenStack Orientation="Orientation.Vertical">
                    <RadzenText TextStyle="TextStyle.Caption" Text="Registration" />
                    <RadzenSelectBar TValue="IEnumerable<Registration>" @bind-Value="@SelectedRegistrationTypes" Change="@ReloadData" Style="margin-bottom: 6px;" Multiple="true">
                        <Items>
                            <RadzenSelectBarItem Text="Static" Value="Registration.Static" />
                            <RadzenSelectBarItem Text="Dynamic" Value="Registration.Dynamic" />
                            <RadzenSelectBarItem Text="Not in Code" Value="Registration.NotInCode" />
                        </Items>
                    </RadzenSelectBar>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenStack Orientation="Orientation.Vertical">
                    <RadzenText TextStyle="TextStyle.Caption" Text="Databases"/>
                    <RadzenDropDown Placeholder="Select databases" @bind-Value=@SelectedDatabases Data=@_databases Multiple=true Style="margin-bottom: 6px;" Change="@ReloadData"/>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

        <RadzenDataGrid Data="_model" TItem="CollectionModel"
                        AllowFiltering="true" FilterMode="FilterMode.Simple" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        AllowSorting="true"
                        AllowPaging="true" PageSize="8" PageSizeOptions="[8, 16, 32, 64]"
                        ShowPagingSummary="true" PagingSummaryFormat="@("{2:N0} collections, page {0} of {1}")"
                        CellRender="@OnCellRender">
            <Columns>
                <RadzenDataGridColumn Title="Configuration" Property="@nameof(CollectionModel.ConfigurationName)" Visible="@_showConfiguration" />
                <RadzenDataGridColumn Title="Database" Property="@nameof(CollectionModel.DatabaseName)" />
                <RadzenDataGridColumn Title="Collection" Property="@nameof(CollectionModel.CollectionName)" />
                <RadzenDataGridColumn Title="Source" Property="@nameof(CollectionModel.Source)" Filterable="false"/>
                <RadzenDataGridColumn Title="Registration" Property="@nameof(CollectionModel.Registration)" Filterable="false" Width="120px" />
                <RadzenDataGridColumn Title="Access" Property="@nameof(CollectionModel.Accessed)" TextAlign="TextAlign.Right" CssClass="css-access" Width="120px">
                    <Template>
                        @if (context.AccessCount == 0)
                        {
                            <span title="Never accessed."><RadzenText Text="@($"{context.AccessCount:N0}")"/></span>
                        }
                        else
                        {
                            <RadzenText Text="@($"{context.AccessCount:N0}")"/>
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title=Calls Property="@nameof(CollectionModel.CallCount)" Filterable="false" TextAlign="TextAlign.Right" Width="120px">
                    <Template>
                        <RadzenText Text="@($"{context.CallCount:N0}")" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Documents" Property="@($"{nameof(CollectionModel.DocumentCount)}.{nameof(CollectionModel.DocumentCount.Count)}")" TextAlign="TextAlign.Right" CssClass="css-count" Width="120px">
                    <Template>
                        <RadzenText Text="@($"{context.DocumentCount.Count:N0}")" />
                        @* @if (context.DocumentCount.IsValid)
                        {
                            <RadzenText Text="@($"{context.DocumentCount.Count:N0}")"/>
                        }
                        else
                        {
                            <span title="@($"Virtual count is {context.DocumentCount.Virtual:N0}.")"><RadzenText Text="@($"{context.DocumentCount.Count:N0}")"/></span>
                        } *@
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Size" Property="@nameof(CollectionModel.Size)" TextAlign="TextAlign.Right" Filterable="false" Width="120px">
                    <Template>
                        @context.Size.ToReadableByteSize()
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Indices" Property="@nameof(CollectionModel.IndexEqualFields)" CssClass="css-indices" Width="120px">
                    <Template>
                        <span title="@context.Indices.Diff()">@context.IndexEqualFields</span>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="" Sortable="false" Width="60px;" Filterable="false">
                    <Template>
                        @* @if (context.Index.Defined != null)
                        {
                            IndexInfo ii = context.Index;

                            <StandardButton Icon="format_list_numbered" ButtonStyle="@(context.Index.Defined.SequenceEqual(context.Index.Current) ? ButtonStyle.Base : ButtonStyle.Warning)" Click="@(() => ShowIndexDialog(context))" Style="margin-right: 3px;"/>
                        } *@
                        <StandardButton Icon="format_list_numbered" Click="@(() => ShowIndexDialog(context))" Style="margin-right: 3px;" />
                        @* @if (context.Registration != Registration.NotInCode && context.AccessCount == 0)
                        {
                            <StandardButton Icon="touch_app" Click="@(() => TouchCollection(context))"/>
                        } *@
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </RadzenStack>
}

@code {
    private string[] _databases;
    private CollectionModel[] _model;
    private bool _showConfiguration;
    private CollectionInfo[] _all;

    private IEnumerable<Registration> SelectedRegistrationTypes { get; set; }
    private IEnumerable<string> SelectedDatabases { get; set; }

    [Parameter]
    public bool FullDatabaseScan { get; set; }

    [Parameter]
    public string Filter { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        DatabaseMonitor.CollectionInfoChangedEvent += async (_, e) =>
        {
            if (_all == null) return;

            var item = _all.SingleOrDefault(x => x.Key == e.CollectionInfo.Key);

            if (item != null)
            {
                item.Source = e.CollectionInfo.Source;
                item.AccessCount = e.CollectionInfo.AccessCount;
                item.CallCount = e.CollectionInfo.CallCount;
                item.DocumentCount = e.CollectionInfo.DocumentCount;
                item.Size = e.CollectionInfo.Size;
                item.Index = e.CollectionInfo.Index;

                var m = _model.SingleOrDefault(x => x.ConfigurationName == item.ConfigurationName && x.DatabaseName == item.DatabaseName && x.CollectionName == item.CollectionName);
                if (m != null)
                {
                    var indexModels = e.CollectionInfo.ToIndexModel().ToArray();

                    m.Source = e.CollectionInfo.Source;
                    m.AccessCount = e.CollectionInfo.AccessCount;
                    m.CallCount = e.CollectionInfo.CallCount;
                    m.DocumentCount = e.CollectionInfo.DocumentCount;
                    m.Size = e.CollectionInfo.Size;
                    m.Indices = indexModels;
                    m.IndexEqualFields = indexModels.All(x => x.EqualFields);
                }

                await InvokeAsync(StateHasChanged);
            }
        };

        _all = await DatabaseMonitor.GetInstancesAsync(FullDatabaseScan, Filter).ToArrayAsync();
        _databases = _all.GroupBy(x => x.DatabaseName).Select(x => x.First()).Select(x => x.DatabaseName).Order().ToArray();
        await ReloadData();
        await base.OnParametersSetAsync();
    }

    private async Task ShowIndexDialog(CollectionModel context)
    {
        var result = await DialogService.OpenAsync<CollectionDialog>(context.CollectionName, new Dictionary<string, object>
        {
            { "Fingerprint", context }
        }, new DialogOptions { Resizable = true, Draggable = true });

        if (result != true) return;

        await ReloadData();
    }

    private async Task ReloadData()
    {
        _model = _all
            .Where(x => SelectedDatabases == null || !SelectedDatabases.Any() || SelectedDatabases.Contains(x.DatabaseName))
            .Where(x => SelectedRegistrationTypes == null || !SelectedRegistrationTypes.Any() || SelectedRegistrationTypes.Contains(x.Registration))
            .Select(x =>
            {
                var indexModels = x.ToIndexModel().ToArray();

                return new CollectionModel
                {
                    ConfigurationName = x.ConfigurationName,
                    DocumentCount = x.DocumentCount,
                    DatabaseName = x.DatabaseName,
                    CollectionName = x.CollectionName,
                    Source = x.Source,
                    Registration = x.Registration,
                    AccessCount = x.AccessCount,
                    CallCount = x.CallCount,
                    Size = x.Size,
                    Indices = indexModels,
                    IndexEqualFields = indexModels.All(y => y.EqualFields)
                };
            })
            .ToArray();
        _showConfiguration = _model.GroupBy(x => x.ConfigurationName).Count() > 1;
        StateHasChanged();
    }

    void OnCellRender(DataGridCellRenderEventArgs<CollectionModel> args)
    {
        var cssClass = args.Column.CssClass;
        if (string.IsNullOrEmpty(cssClass)) return;

        if (cssClass.StartsWith("css-access"))
        {
            string color = null;
            if (args.Data.AccessCount == 0)
            {
                color = "lightyellow";
            }

            SetColor(args, color);
        }
        else if (cssClass.StartsWith("css-count"))
        {
            string color = null;
            // if (!args.Data.DocumentCount.IsValid)
            // {
            //     color = "pink";
            // }
            //else if (args.Data.DocumentCount.Virtual == null)
            //{
            //    color = "lightyellow";
            //}

            SetColor(args, color);
        }
        else if (cssClass.StartsWith("css-indices"))
        {
            string color = null;
            if (!args.Data.IndexEqualFields)
            {
                color = "pink";
            }

            SetColor(args, color);
        }
    }

    private static void SetColor(DataGridCellRenderEventArgs<CollectionModel> args, string color)
    {
        if (color is null) return;

        if (args.Attributes.TryGetValue("style", out var existing))
        {
            args.Attributes["style"] = existing + $"background-color: {color};";
        }
        else
        {
            args.Attributes.Add("style", $"background-color: {color};");
        }
    }

}
